<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="TaskMapper">
    <insert id="insertTask" parameterType="com.example.jk.task.vo.TaskVo" >
        insert into task(title,description,priority,status)
        values #{title},#{description},#{priority},#{status},now()
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>